<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- sns Share -->
    <meta property="og:title" content="원하는거 DASA!" />
    <meta
      property="og:description"
      content="원하는 상품을 검색하고 나만의 찜목록에 콕❤"
    />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='DASA_logo.png') }}"
    />

    <!-- Webpage Title -->
    <title>필요한게 있다면 DASA</title>

    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- Font Awesome CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
    <style>
      @font-face {
        font-family: "GmarketSansBold";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
          format("woff");
        font-weight: normal;
        font-style: normal;
      }
    </style>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <!-- 상단 nav bar -->
    <nav class="navbar">
      <div class="container">
        <div id="navMenu">
          <div class="navbar-start">
            <a class="navbar-item main-logo" onclick="main()"> DASA </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a
                  class="button is-info is-outlined"
                  aria-label="logout"
                  onclick="sign_out()"
                >
                  Log out
                </a>
                <a
                  class="button is-danger is-outlined"
                  href="/user/{{username}}"
                  >JJIM</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-halfheight main-screen">
      <div class="hero-body main-screen-item">
        <p class="title">사고싶은게 있다면 검색 후 찜!</p>
        <div class="main-img-box">
          <img
            class="main-img"
            src="{{ url_for('static', filename='cart.png') }}"
          />
        </div>
      </div>
    </section>

    <!-- 검색창 -->
    <section class="section">
      <article class="media">
        <div class="media-content">
          <div class="field">
            <input
              class="input is-warning"
              id="keyword"
              type="text"
              placeholder="원하는 상품을 검색하세요"
              onkeydown="JavaScript:Enter_search();"
            />
          </div>
        </div>
        <button class="button is-warning search-btn" onclick="searchItems()">
          검색
        </button>
      </article>
    </section>

    <!-- 상품카드 -->
    <section class="section">
      <div class="media-content">
        <div class="field" id="item-list"></div>
      </div>
    </section>
  </body>
</html>
